<h1>monkeemagic.co</h1>
<h2>
build make deploy</h2>
<div id="nav">
  <a href="/" class="posts">POSTS</a>
  <a href="/cv" class="cv">CV</a>
  <a href="/work" class="work">WORK</a>
  <a href="https://twitter.com/monkee_magic">TWITTER</a>
  <a href="https://github.com/monk-ee">GITHUB</a>
  <a href="https://au.linkedin.com/pub/lyndon-swan/b/8bb/754/">LINKEDIN</a>
</div>
